/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
html {
  scroll-behavior: smooth;
}

.page {
  min-inline-size: 320px;
  max-inline-size: 700px;
  min-block-size: 100dvb;
  margin: 100px auto;

  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" var(--font-weight-regular);

  color: var(--main-color);
  background: repeating-linear-gradient(to right, var(--grid-gradient)), repeating-linear-gradient(var(--grid-gradient)), linear-gradient(var(--solid-gradient)) center / cover;
  background-attachment: fixed;
}



/* components */
.button__text {
  position: relative;
  z-index: 10;

  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: var(--button-like-color);
  mix-blend-mode: difference;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  transform-origin: left;
  scale: 0 1;
  background-color: var(--main-color);
  transition: scale var(--long-tr) ease-in-out;
}

.button:hover::before {
  scale: 1 1;
}

.diskette-icon {
  color: var(--button-like-color);
  mix-blend-mode: difference;
}

.dot {
  letter-spacing: -2px;
  animation: dots 1.5s linear infinite;

  &.dot-1 {
    animation-delay: 0s;
  }
  
  &.dot-2 {
    animation-delay: .3s;
  }
  
  &.dot-3 {
    animation-delay: .6s;
  }
}



/* header */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem);
  padding-block-end: 25px;
  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;

  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
}

.header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  line-height: 1;
  text-transform: uppercase;
  margin-block-end: 21px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  line-height: 1;
  text-transform: uppercase;
  margin-block-end: 25px;
}

.theme-menu {
  margin-inline-start: 18px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  position: relative;
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  transition: var(--short-tr);

  &:disabled {
    color: rgba(var(--main-color-rgb), .6);
    pointer-events: none;
  }

  &:hover {
    color: rgba(var(--main-color-rgb), .6);
    cursor: pointer;
  }

  &:focus {
    outline: none;
    color: rgba(var(--main-color-rgb), .6);
  }
}

.theme-menu__button:disabled::before {
  position: absolute;
  top: 0;
  left: -20px;
  content: '▶';
  animation: marker var(--long-tr) ease-in-out infinite alternate;
}

.theme-menu__button:enabled {
  position: relative;

  &:focus, 
  &:focus-visible {
    outline: none;
  }
}

.theme-menu__button:enabled::after {
  content: '';
  position: absolute;
  bottom: -2px;
  inset-inline: 0;
  height: 2px;
  transform-origin: left;
  scale: 0 1;
  background-color: currentColor;
  transition: scale var(--short-tr);
}

.theme-menu__button:enabled:focus-visible::after {
  scale: 1 1;
}



/* main */
.main {
  margin-block: 100px;
}

.main__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__item {
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
}

.card__title {
  padding: 4px 24px 4px 10px;
  border-block-end: 2px solid var(--main-color);
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: "wdth" var(--font-weight-bold);
}

.card__gallery {
  position: relative;
  overflow: hidden;
}

.card__image {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: 95%;

  &.card__image-first {
    filter: grayscale(100%);
  }

  &.card__image-second {
    filter: brightness(25%);
  }

  &.card__image-third {
    filter: invert(1);
    animation: invertImage 5s linear infinite alternate;
  }

  &.card__image-fourth {
    filter: sepia(65%);
  }

  &.card__image-fifth {
    filter: saturate(200%) opacity(.7);
    rotate: 45deg;
    scale: 1.5;
  }

  &.card__image-sixth {
    animation: blurImage 4s ease-out infinite;
  }

  &.card__image-seventh {
    filter: contrast(200%);
  }
}

.card__watermark {
  position: absolute;
  top: 25px;
  right: clamp(0.6875rem, -0.3221rem + 4.3077vw, 1.5625rem);

  font-family: 'PressStart2P', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  mix-blend-mode: hard-light;
  opacity: 0.5;
  -webkit-text-stroke: .5px var(--bg-color)
}

.card__content {
  padding: 25px;
  border-block-start: 2px solid var(--main-color);

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card__texts {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__desc {
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 7px;
}

.card__like-button {
  position: relative;
  min-inline-size: 130px;
  padding: 9px 17px;
  border: 2px solid var(--main-color);

  transition: box-shadow var(--short-tr);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 2px 2px 0 var(--main-color);
  }
}



/* heart */
.card__icon-button {
  cursor: pointer;
  transition: var(--short-tr);
  
  &:focus {
    outline: none;
  }
  
  &:focus-visible {
    outline: 2px solid var(--main-color);
  }
}

.like-icon {
  display: block;
}

.heart {
  transform-origin: center;
}

.contour {
  transition: var(--short-tr) linear;
  transition-delay: 0s;
}

.main-body {
  opacity: 0;
  transition: var(--short-tr) linear;
  transition-delay: 0s;
}

.core {
  opacity: 0;
  transition: var(--short-tr) linear;
  transition-delay: .03s;
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover .core {
  opacity: 1; /* почему-то fill при состояние :hover не работал плавно, поэтому сделал через opacity */
  transition-delay: 0s;
}

.card__icon-button:hover .main-body {
  opacity: 1;
  transition-delay: .05s;
}

.card__icon-button:active .core {
  fill: var(--heart-accent-color);
  transition-delay: 0s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-accent-color);
  transition-delay: .05s;
}

.like-icon.is-liked .heart {
  animation: scaleHeart var(--short-tr) ease-in alternate;
  animation-delay: .1s;
}

.like-icon.is-liked .sparks {
  animation: sparks var(--short-tr) ease-in alternate;
  animation-delay: var(--short-tr);
}

.like-icon.is-liked .contour {
  fill: var(--heart-accent-color);
  transition-delay: .06s;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--heart-accent-color);
  transition-delay: .05s;
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--heart-accent-color);
  transition-delay: 0s;
}

.popup-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  margin: 0 auto;
  padding: 15px 20px;
  border: 2px solid var(--main-color);

  background-color: var(--bg-color);
  transition: box-shadow var(--short-tr);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 2px 2px 0 var(--main-color);
  }
}

.popup-btn > .diskette-icon {
  width: 21px;
  height: 21px;
}



/* dialog */
.dialog {
  max-inline-size: 353px;
  padding: 30px;
  background-color: var(--bg-color);
  color: var(--main-color);
}

.dialog[open] {
  animation: dialogWindow 1s linear;
}

.dialog[open]::backdrop {
  background-color: rgba(var(--backdrop-rgb), .75);
  animation: dialogWindow 1s linear;
}

.dialog__content {
  margin-block-end: 30px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
}

.dialog__content > .diskette-icon {
  align-self: center;
  width: 39px;
  height: 39px;
}

.dialog__text {
  font-family: 'PressStart2P';
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__button {
  border: 2px solid var(--main-color);
  padding: 9px 17px;
  width: 100%;

  font-family: 'PressStart2P';
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 2px 2px 0 var(--main-color);
  }
}



/* media */
@media screen and (0 < width <= 375px) {
  .popup-btn {
    flex-direction: column;
  }
}

/* Решил правильным добавить медиа-запрос для людей, не желающих видеть какие-либо анимации */
@media (prefers-reduced-motion: reduce) {
  .theme-menu__button:disabled::before,
  .card__image.card__image-third,
  .card__image.card__image-sixth,
  .like-icon.is-liked .heart,
  .like-icon.is-liked .sparks {
    animation: none;
  }
}

@supports ((font-variation-settings: normal) and (text-stroke: .5px var(--bg-color))) {
  .page {
    font-family: var(--main-font), Arial, Helvetica, sans-serif;
  }

  .card__watermark {
    text-stroke: .5px var(--bg-color);
  }
}